* { 
    color:#ffffff;
    border-radius: 15px;
    text-shadow: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
  position: relative;
  font-size: 25px;
}


html, body{ 
    background-image: url(/Users/hectorpalacios/Desktop/myprofile/assets/images/volcan_izalco.jpeg);
    background-size: cover;
    background-position: center;
    height: 150%;
    width: fit-content;
    background-repeat: no-repeat;
}


h2 {
    font-size: 45px;
}
h2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}
body {
    padding: 0;
    margin: 0;
}


h3 {
    font-size: 20px;
}

h2, h3, li {
    color:#ffffff;
}

li a {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.header {
    padding: 5px;
    font-family: fantasy;
    background-color: blue;
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: fantasy;
    font-size: 30px;
    width: 50%;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header li a:hover {
    background: #ffffff;
    color: blue;
}

.header ul {
    list-style: none;
    display: inline-block;
}

a { 
    font-size: 20px;
}

.profile {
    font-family: fantasy;
}

.profile {
    display: flex;
   
    text-align: center;
}

.profile >*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.info {
    text-align: center;
    background-color: blue;
    height: 300px;
    font-size: 24px;
}

.projects {
    background-color: blue;
}

.contact_info {
    background-color: blue;
    height: 300px;
}

.experience {
    background-color: blue;
}

 
address {
    font-style: normal;
    font-family: fantasy;

}

@media all and (min-width: 800px){
   .info {
       flex: 2 0px;
   }

    .projects{
        order: 1;
    }

    .experience {
        order: 3;
    }
    .info{
        order: 2;
    }

    .contact_info {
        order: 4;
    }

}


